body{
    text-align: center;
}
.continent{
    display:block;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
#asia{
    background-color: #7ba6c9;
    height: 200px;
    width: 100%;
}
#africa{
    background-color: #991f26;
    height: 200px;
    width: 100%;
}
#north-america{
    background-color: #ff9933;
    height: 200px;
    width: 100%;
}
#south-america{
    background-color: #5687b8;
    height: 200px;
    width: 100%;
}
#europe{
    background-color: #d98e7e;
    height: 200px;
    width: 100%;
}
#oceania{
    background-color: #85ac39;
    height: 200px;
    width: 100%;
}
#antarctica{
    background-color: #999999;
    height: 200px;
    width: 100%;
}