body{
    font-family: sans-serif;
    text-align: center;
    background-color: #f7c9cb;
}
h1{
    background-color: #991f26;
}
.flag-africa{
    width: 200px;
    height: 150px;
    display: inline-block;
    align-items: center;
    margin: 15px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}
img{
    display: block;
    width: 200px;;
    height: 150px;
    margin: 15px;
}
.text {
    font-size: 1.1rem;
    color: #761318;
    width: 200px;
    height: 150px;
    position: absolute;
    display: none;        
    }